.font09 {
	font-size:0.9em;
}

.font105 {
	font-size:1.05em;
}

.font11 {
	font-size: 1.1em;
}

.fontGrayed {
	color:#a2a2a2;
}

.fontHighlight {
	color:#2bb182;
}

.margintop10 {
	margin-top:10px;
}

.margintop30 {
	margin-top:30px;
}